<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <h1 class="mt20">
      Available Quizess
      <span *ngIf="categoryTitle"
        >under <b>{{ categoryTitle }}</b></span
      >
    </h1>

    <div class="row">
      <div class="col-md-6 mb20" *ngFor="let quiz of quizzes">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="quiz-logo"></div>
            <mat-card-title>{{ quiz.title }}</mat-card-title>
            <mat-card-subtitle
              >{{ quiz.category.title }} :
              {{ quiz.category.cid }}</mat-card-subtitle
            >
          </mat-card-header>
          <!-- <mat-card-content>{{ cid }}</mat-card-content> -->
          <mat-card-actions class="mb10 ml10">
            <button
              mat-raised-button
              color="accent"
              [routerLink]="
                '/admin/view-questions/' + quiz.qid + '/' + quiz.title
              "
            >
              Questions
            </button>
            <!-- <button mat-stroked-button disabled color="accent" class="ml10">
              Max Marks {{ quiz.maxMarks }}
            </button>
            <button mat-stroked-button disabled color="accent" class="ml10">
              No of Questions {{ quiz.numberOfQuestions }}
            </button> -->
            <button
              mat-raised-button
              color="accent"
              class="ml10"
              [routerLink]="'/admin/update-quiz/' + quiz.qid"
            >
              Update
            </button>

            <button mat-icon-button color="warn" class="ml10" (click)="deleteQuiz(quiz.qid, quiz.title)">
              <mat-icon>delete</mat-icon>
            </button>
           
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-12" *ngIf="quizzes && quizzes.length == 0">
        <mat-card>
          <mat-card-content>
            <h1>This Category does not contain any Active Quizzes</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
