<mat-card class="text-center" style="margin-top: 10%">
  <mat-action-list class="example-list-wrapping">
    <button mat-list-item routerLink="/user-dashboard/leaderboard/0">
      <mat-icon matListItemIcon>leaderboard</mat-icon>
      <h2 style="margin-top: 15px"><b>Leaderboard</b></h2>
    </button>
  </mat-action-list>
  <!-- Below line is strictly used only for testing  -->
  <!-- {{ categories | json }} -->
</mat-card>


<mat-card class="text-center" style="margin-top: 10%">
  <mat-action-list class="example-list-wrapping">
    <div mat-subheader pl10>
      <h2><b>Result</b></h2>
    </div>
    <button mat-list-item routerLink="/user-dashboard/results/0">
      <mat-icon matListItemIcon>task</mat-icon>ALL Results
    </button>
  </mat-action-list>
  <!-- Below line is strictly used only for testing  -->
  <!-- {{ categories | json }} -->
</mat-card>

<mat-card class="text-center" style="margin-top: 10%">
  <mat-action-list class="example-list-wrapping">
    <div mat-subheader pl10>
      <h2><b>Categories</b></h2>
    </div>
    <button mat-list-item routerLink="/user-dashboard/0">
      <mat-icon matListItemIcon>home</mat-icon>ALL Quizzess
    </button>
    <button
      mat-list-item
      [routerLink]="'/user-dashboard/' + category.cid"
      *ngFor="let category of categories"
    >
      <mat-icon matListItemIcon>category</mat-icon>
      <p style="text-wrap: pretty">{{ category.title }}</p>
    </button>
  </mat-action-list>
  <!-- Below line is strictly used only for testing  -->
  <!-- {{ categories | json }} -->
</mat-card>


